.addresses-page {
  width: 100%; 
  max-width: 400px; 
  min-height: 550px;
  max-height: 30vh;
  margin: 20px auto;
  padding: 20px; 
  /* border: 1px solid #d3d3d3;  */
  border-radius: 8px; 
  background-color: #808080c0; 
  color: #d3d3d3; 
}

h2 {
  text-align: center; 
  margin-bottom: 20px;
}

.button-group {
  display: flex; 
  justify-content: space-around; 
  margin-bottom: 20px; 
}

.toggle-button {
  background-color: #6c757d; 
  color: #d3d3d3; 
  padding: 10px;
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.toggle-button.active {
  background-color: #5a6268; 
}

.component-container input,
.component-container textarea {
  display: block; 
  margin-bottom: 10px; 
  padding: 10px; 
  width: 100%; 
  border: 1px solid #d3d3d3; 
  border-radius: 5px; 
  background-color: #505050; 
  color: #d3d3d3; 
}

.addresses-list select {
  padding: 10px; 
  width: 100%; 
  border: 1px solid #d3d3d3; 
  border-radius: 5px; 
  background-color: #505050; 
  color: #d3d3d3; 
}

.address-details {
  margin-top: 20px; 
  background-color: #6c757d; 
  padding: 20px; 
  border-radius: 8px; 
}
