.register-page {
  max-width: 400px; /* Максимальная ширина формы */
  margin: auto; /* Центрирование формы */
  padding: 20px; /* Внутренний отступ */
  border: 1px solid #d3d3d3; /* Светло-серая граница */
  border-radius: 8px; /* Закругление углов */
  background-color: #808080; /* Серый фон */
  color: #d3d3d3; /* Светло-серый текст */
}

h2 {
  text-align: left; /* Выравнивание заголовка влево */
  margin-bottom: 20px; /* Отступ снизу */
}

form {
  display: flex; /* Использование flexbox для верстки */
  flex-direction: column; /* Вертикальное направление */
}

input {
  margin-bottom: 15px; /* Отступ снизу для полей ввода */
  padding: 10px; /* Внутренний отступ */
  border: 1px solid #d3d3d3; /* Светло-серая граница */
  border-radius: 4px; /* Закругление углов полей ввода */
  background-color: #505050; /* Темный фон для полей ввода */
  color: #d3d3d3; /* Светло-серый текст в полях ввода */
}

button {
  padding: 10px; /* Внутренний отступ для кнопки */
  background-color: #6c757d; /* Цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Без границы */
  border-radius: 4px; /* Закругление углов кнопки */
  cursor: pointer; /* Курсор при наведении */
}

button:hover {
  background-color: #5a6268; /* Цвет кнопки при наведении */
}

.error {
  color: red; /* Цвет текста для ошибок */
  text-align: left; /* Выравнивание текста влево */
}

.success {
  color: green; /* Цвет текста для успешных сообщений */
  text-align: left; /* Выравнивание текста влево */
}
