.requests-page {
  background-color: #808080; /* Серый фон */
  color: #d3d3d3; /* Светло-серый текст */
  padding: 20px; /* Внутренний отступ */
  border-radius: 10px; /* Закругление углов */
}

.button-group {
  margin-bottom: 20px; /* Отступ снизу */
}

.toggle-button {
  background-color: #6c757d; /* Цвет кнопки */
  color: #d3d3d3; /* Светло-серый текст кнопки */
  padding: 10px; /* Внутренний отступ */
  border: none; /* Без границы */
  margin-right: 10px; /* Отступ справа */
  cursor: pointer; /* Курсор при наведении */
}

.toggle-button.active {
  background-color: #5a6268; /* Темнее при активном состоянии */
}

.request-list select {
  padding: 10px; /* Внутренний отступ */
  width: 100%; /* Ширина 100% */
  border: 1px solid #d3d3d3; /* Светло-серая граница */
  border-radius: 5px; /* Закругление углов */
  background-color: #505050; /* Темный фон */
  color: #d3d3d3; /* Светло-серый текст */
}

.request-details {
  margin-top: 20px; /* Отступ сверху */
  background-color: #6c757d; /* Цвет фона */
  padding: 20px; /* Внутренний отступ */
  border-radius: 10px; /* Закругление углов */
}

.request-details img {
  max-width: 100%; /* Максимальная ширина 100% */
  height: auto; /* Авто высота */
  margin-top: 10px; /* Отступ сверху */
}
