.profile-page {
  background-color: #808080c0;
  color: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: left;
}

.profile-page h2 {
  margin-bottom: 10px; /* Отступ снизу */
}

.profile-page p {
  margin: 5px 0; /* Отступ сверху и снизу */
}

.profile-page button {
  display: block; /* Блоковое отображение */
  margin: 10px auto; /* Центрирование кнопки */
  padding: 10px 20px; /* Внутренний отступ */
  border: none; /* Без границы */
  border-radius: 5px; /* Закругление углов */
  background-color: #6c757d; /* Цвет кнопки */
  color: #d3d3d3; /* Светло-серый текст кнопки */
  cursor: pointer; /* Курсор при наведении */
}

.profile-page button:hover {
  background-color: #5a6268; /* Темнее при наведении */
}

