.admin-button {
  background-color: #6c757d; 
  color: #d3d3d3; 
  padding: 10px; 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-right: 10px; 
  min-width: 100px; 
  max-width: 150px; 
}

.admin-button:hover {
  background-color: #5a6268;
}
