.login-container {
    width: 100%; 
    max-width: 400px; 
    min-height: 500px;
    max-height: 30vh;
    margin: 20px auto; 
    background-color: #808080c0; 
    color: #d3d3d3; 
    padding: 20px; 
    /* border: 1px solid #d3d3d3;  */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }
  
  .login-container h2 {
    margin-bottom: 20px; 
    font-size: 24px; 
    color: #d3d3d3; 
  }
  
  .login-container label {
    display: block; 
    text-align: left; 
    margin-bottom: 5px; 
    font-size: 16px; 
  }
  
  .login-container input {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #505050; 
    color: #d3d3d3; 
  }
  
  .login-container button {
    width: 100%; 
    padding: 10px; 
    background-color: #4e9ee0; 
    color: #d3d3d3;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
  
  .login-container button:hover {
    background-color: #3387cc; 
  }
  
  .login-container p {
    margin-top: 10px; 
    color: #d3d3d3; 
  }
  
  .login-container a {
    color: #4e9ee0; 
    text-decoration: underline; 
    cursor: pointer; 
  }
  
  .login-container a:hover {
    color: #3387cc; 
  }
} 