.request-form {
  background-color: #808080; /* Серый фон */
  color: #d3d3d3; /* Светло-серый текст */
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.form-group {
  margin: 20px;
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #d3d3d3; /* Светло-серый текст */
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d3; /* Светло-серый граница */
  border-radius: 4px;
  font-size: 16px;
  color: #d3d3d3; /* Светло-серый текст */
  background-color: #505050; /* Темно-серый фон для полей ввода */
}

input:focus, select:focus {
  outline: none;
  border-color: #888; /* Темно-серый цвет при фокусе */
}

button {
  background-color: #6c757d; /* Серый фон кнопки */
  color: #d3d3d3; /* Светло-серый текст кнопки */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #aaa; /* Серый фон для отключенной кнопки */
}

button:hover:not(:disabled) {
  background-color: #5a6268; /* Темно-серый фон при наведении на кнопку */
}
