.home-page {
  width: 100%; 
  max-width: 400px; 
  min-height: 500px;
  max-height: 30vh;
  margin: 20px auto;
  background-color: #808080c0; 
  color: #ffffff; 
  padding: 20px;
  /* border: 1px solid #d3d3d3;  */
  border-radius: 10px; 
  text-align: center; 
  
}

.home-page h1 {
  color: #ffffff;
  margin-bottom: 20px; 
}

.home-page p {
  margin: 5px 0; 
}

.home-page .feature-list {
  list-style-type: none; 
  padding: 0; 
}

.home-page .feature-list li {
  margin-bottom: 10px; 
}